@media only screen and (max-width: 480px) {
    body { 
        background-color: black;
        font-family: 'Inter',sans-serif;
        font-size: 1em;
        line-height: 1.5;
        color: white;        
    }

    p > a {
        color:rgb(255, 255, 255);
        text-decoration: underline;
    }

    p {
        letter-spacing: 0.0625em;
    }

    header {    
        align-items: center;    
    }

    img.icon {
        vertical-align: sub;
        width: 2em;
        height: 2em;
    }

    div.text {
        text-align: left;
        background: rgba(0, 0, 0, 0.596);
        padding: 0.625em;
        position: absolute;
        top: 50%;
        width: 90%;
        border-radius: 0.625em;
        border: rgb(34,141,255);
        border-style: solid;
        border-width: 0.03em;
    }

    td.nav1 {
        width: 12%;
        text-align: left;
        font-family: Tahoma, Verdana, Arial;
        font-size: 1em;     
        letter-spacing: 0.0625em
    }

    td.nav2 {
        width: 36%;
        text-align: center;
        font-family: Tahoma, Verdana, Arial;
        font-size: 1em;    
        letter-spacing: 0.0625em    
    }

    td.last_nav {
        width: 25%;
        text-align: center;
        font-family: Tahoma, Verdana, Arial;
        font-size: 1em;        
        letter-spacing: 0.0625em
    }

    td.head {
        width: 10%;
        text-align: center;      
    }

    table.upper {    
        margin: -0.625em;
        padding: 1%;
    }

    a.menu:link {
        color:rgb(255, 255, 255);
        text-decoration: none;
    }

    a.menu:visited {
        color:rgb(255, 255, 255);
        text-decoration: none;
    }

    a.menu:hover {
        color:rgb(34,141,255);
        text-decoration: none;        
    }

    a.menu:active {
        color:rgb(34,141,255);
        text-decoration: none;   
    }

    h1 {
        font-family: 'Spline Sans Mono';
        font-size: 1.5em;
    }

    h1 > a {
        color:hwb(0 97% 3% / 0.993);
        text-decoration: none;
    }

    h2 {
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 1.4em;
    }

    img.img_right {  
        border-radius: 0.625em;
        max-width: 100%;
        max-height: 100%;
    }

    table.form {
        position: absolute;
        top: 18%;
        width: 90%;  
        background: rgba(0, 0, 0, 0.596);
        border-radius: 0.625em;
        padding: 0.625em;
        border: rgb(34,141,255);
        border-style: solid;
        border-width: 0.03em;
        color: white;
        letter-spacing: 0.0625em;
    }

    input, textarea, select {
        border: none;
        background-color: rgb(63, 62, 62);
        color: white;
        border-radius: 0.4375em;
        padding: 0.25em;
        border: rgb(34,141,255);
        border-style: solid;
        border-width: 0.03em;
    }

    input[type=text] {
        width: 72%;
    }

    input[type=email] {
        width: 71%;
    }

    textarea {
        width: 80%;
    }

    input[type=submit], input[type=reset] {
        background-color: rgb(78, 76, 76);
        border: rgb(34,141,255);
        border-style: solid;
        border-width: 0.03em;
        color: white;
        padding: 1em 2em;
        text-decoration: none;
        margin: 0.25em 0.125em;
        cursor: pointer;
    }
        
    td.left {
        text-align: left;
    }

    div.position_object {
        position: absolute;    
        top: 15%;
        width: 100%;
        right: 1%;
    }

    video {
        border-radius: 0.625em;
        position: absolute;    
        top: 18%;
        height: 30%;
    }

    li {
        letter-spacing: 0.0625em;
    }

    .content {
        min-height: calc(100vh - 1.25em);
    }

    footer {
        text-align: right;        
        height: 10%;
        font-size: 0.85em;
    }
}

@media only screen and (min-width: 481px) {
    body { 
        background-image: url("backgroundTI.jpg");
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Inter',sans-serif;
        font-size: 1em;
        line-height: 1.5;
        color: white;    
    }

    p > a {
        color:rgb(255, 255, 255);
        text-decoration: underline;
    }

    p {
        letter-spacing: 0.0625em;
    }

    header {    
        align-items: center;    
    }

    img.icon {
        vertical-align: sub;
        width: 2em;
        height: 2em;
    }

    div.text {
        text-align: left;
        background: rgba(0, 0, 0, 0.596);
        padding: 0.625em;
        position: absolute;
        top: 25%;
        left: 15%;
        width: 30%;
        border-radius: 0.625em;
        border: rgb(34,141,255);
        border-style: solid;
        border-width: 0.03em;
    }

    td.nav1 {
        width: 9%;
        text-align: left;
        font-family: Tahoma, Verdana, Arial;
        font-size: 1.125em;     
    }

    td.nav2 {
        width: 16%;
        text-align: left;
        font-family: Tahoma, Verdana, Arial;
        font-size: 1.125em;        
    }

    td.last_nav {
        width: 45%;
        text-align: left;
        font-family: Tahoma, Verdana, Arial;
        font-size: 1.125em;        
    }

    td.head {
        width: 24%;
        padding-left: 1.5625em;        
    }

    table.upper {    
        margin: -0.625em;
        padding: 1%;
    }

    a.menu:link {
        color:rgb(255, 255, 255);
        text-decoration: none;
    }

    a.menu:visited {
        color:rgb(255, 255, 255);
        text-decoration: none;
    }

    a.menu:hover {
        color:rgb(34,141,255);
        text-decoration: none;        
    }

    a.menu:active {
        color:rgb(34,141,255);
        text-decoration: none;   
    }

    h1 {
        font-family: 'Spline Sans Mono';
    }

    h1 > a {
        color:hwb(0 97% 3% / 0.993);
        text-decoration: none;
    }

    h2 {
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 1.875em;
    }

    img.img_right {  
        border-radius: 0.625em;
        max-width: 100%;
        max-height: 100%;
    }

    table.form {
        position: absolute;
        top: 25%;
        left: 40%;    
        background: rgba(0, 0, 0, 0.596);
        border-radius: 0.625em;
        padding: 0.625em;
        border: rgb(34,141,255);
        border-style: solid;
        border-width: 0.03em;
        color: white;
        letter-spacing: 0.0625em;
    }

    input, textarea, select {
        border: none;
        background-color: rgb(63, 62, 62);
        color: white;
        border-radius: 0.4375em;
        padding: 0.25em;
        border: rgb(34,141,255);
        border-style: solid;
        border-width: 0.03em;
    }

    input[type=text] {
        width: 72%;
    }

    input[type=email] {
        width: 71%;
    }

    textarea {
        width: 80%;
    }

    input[type=submit], input[type=reset] {
        background-color: rgb(78, 76, 76);
        border: rgb(34,141,255);
        border-style: solid;
        border-width: 0.03em;
        color: white;
        padding: 1em 2em;
        text-decoration: none;
        margin: 0.25em 0.125em;
        cursor: pointer;
    }
        
    td.left {
        text-align: left;
    }

    div.position_object {
        position: absolute;    
        top: 27%;
        right: 10%;
        width: 38%;
    }

    video {
        border-radius: 0.625em;
        position: absolute;    
        top: 28%;
        right: 15%;
        height: 35%;
    }

    li {
        letter-spacing: 0.0625em;
    }

    .content {
        min-height: calc(100vh - 1.25em);
    }

    footer {
        text-align: right;        
        height: 10%;
        font-size: 0.85em;
    }
}


